    {{#each games}}

        <div class="col-md-8 offset-md-2 mt-5">

            <h1 style="text-align: center;">GAME #{{counter @index}}</h1>

            <p>Started: {{this.started_at}}<br>Finished: {{this.finished_at}}</p>
            
            <table class="table table-hover">
            <thead>
                <tr>
                    <th class="center" scope="col"></th>
                    <th class="center" scope="col">Slagalica</th>
                    <th class="center" scope="col">Spojnice</th>
                    <th class="center" scope="col">Skočko</th>
                    <th class="center" scope="col">Ko Zna Zna</th>
                    <th class="center" scope="col">Asocijacije</th>
                    <th class="center" scope="col">Ukupno</th>
                </tr>
            </thead>
            <tbody id="game-{{@index}}">
                {{#each this.game_info.players}}
                <tr>
                    <th scope="row">{{this}}</th>
                    {{!-- <td class="center">{{log scores}}</td> --}}
                </tr>
                {{/each}}
            </tbody>
            </table> 
        </div>

        <div id="game-{{@index}}-points" style="display: none;">
            {{this.game_info.playersPoints}}
        </div>

    {{/each}}
